* {
  box-sizing: border-box;
  --text-color: #5FBAA7;
}

body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

h1{
  color: var(--text-color)
}